.home {
  width: 100%;
  padding: 1rem;
  background-image: url('../images/portrait-cool-man-with-sunglasses.png');
  background-size: cover;
  height: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-left: 3rem;
  text-align: center;
}

.main {
  padding: 2rem 0 3rem 3rem;
}

.main h1 {
  font-size: 68px;
}

.text-white {
  color: white;
}
