.App {
  min-height: 100vh;
  height: 100vh;
  position: relative;
}

.form-group {
  width: 100%;
}

a {
  color: unset;
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
