.App {
  /* text-align: center; */
  min-height: 100vh;
  display: flex;
  /* align-items: stretch; */
  justify-content: center;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

@keyframes autofill {
  0%,
  100% {
    /* color: #666; */
    background: red;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  animation-delay: 1s; /* Safari support - any positive time runs instantly */
  animation-name: autofill;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* .otp-input input {
  width: 3em;
  text-align: center;
  color: var(--darkblue);
  border: none;
  margin: 10px 15px;
  height: 54px;
  outline: none;
  padding: 15px 20px;
  background: linear-gradient(
    275.85deg,
    #d9e8ef -22.37%,
    rgba(217, 232, 239, 0) 124.27%
  );
  box-shadow: inset 0px 4px 10px rgba(221, 221, 221, 0.12);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0px 4px 10px rgba(78, 101, 128, 0.12);
}

.otp-input::placeholder,
.otp-input::-ms-input-placeholder {
  color: var(--darkblue);
  opacity: 1;
} */

