:root {
  --darkblue: #022d45;
  --whiteblue: #f2fbff;
  --lighterblue: #53768966;
  --lightblue: #537689;
  --bg-primary: #caebfd;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "CamptonExtraLight";
  src: local("Campton"),
    url(./assets/fonts/campton/CamptonExtraLight.otf) format("opentype");
}
@font-face {
  font-family: "CamptonLight";
  src: local("Campton"),
    url(./assets/fonts/campton/CamptonLight.otf) format("opentype");
}
@font-face {
  font-family: "CamptonThin";
  src: local("Campton"),
    url(./assets/fonts/campton/CamptonThin.otf) format("opentype");
}
@font-face {
  font-family: "Campton";
  src: local("Campton"),
    url(./assets/fonts/campton/CamptonBook.otf) format("opentype");
}
@font-face {
  font-family: "CamptonBlack";
  src: local("Campton"),
    url(./assets/fonts/campton/CamptonBlack.otf) format("opentype");
}
@font-face {
  font-family: "CamptonMedium";
  src: local("Campton"),
    url(./assets/fonts/campton/CamptonMedium.otf) format("opentype");
}
@font-face {
  font-family: "CamptonSemiBold";
  src: local("Campton"),
    url(./assets/fonts/campton/CamptonSemiBold.otf) format("opentype");
}

@font-face {
  font-family: "CamptonBold";
  src: local("CamptonBold"),
    url(./assets/fonts/campton/CamptonBold.otf) format("opentype");
}
@font-face {
  font-family: "CamptonExtraBold";
  src: local("CamptonBold"),
    url(./assets/fonts/campton/CamptonExtraBold.otf) format("opentype");
}

* {
  font-family: "Campton", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  list-style-type: none;
}

small {
  color: #bdbdbd;
  font: normal 600 10px/12px "Montserrat", san-serif;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.font-weight-semi-bold {
  font-weight: 600;
}
