:root {
  --darkblue: #022d45;
}

@font-face {
  font-family: 'MontserratBold';
  src: local('Montserrat'),
    url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

* {
  font-family: 'MontserratBold', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', san-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
