:root {
  --darkblue: #022d45;
  --whiteblue: #f2fbff;
  --lightblue: #53768966;
  --bg-primary: #caebfd;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "EquitanSansBlack";
  src: local("EquitanSans"),
    url(./assets/fonts/equitansans/EquitanSans-Black.otf) format("opentype");
}
@font-face {
  font-family: "EquitanSansBold";
  src: local("EquitanSans"),
    url(./assets/fonts/equitansans/EquitanSans-Bold.otf) format("opentype");
}

@font-face {
  font-family: "EquitanSansRegular";
  src: local("EquitanSans"),
    url(./assets/fonts/equitansans/zEquitanSans-Regular.otf) format("opentype");
}

@font-face {
  font-family: "EquitanSansLight";
  src: local("EquitanSans"),
    url(./assets/fonts/equitansans/EquitanSans-Light.otf) format("opentype");
}

@font-face {
  font-family: "EquitanSansSemiBold";
  src: local("EquitanSans"),
    url(./assets/fonts/equitansans/EquitanSans-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "GraviticaMono";
  src: local("GraviticaMono"),
    url(./assets/fonts/gravitica-mono/GraviticaMono.otf) format("opentype");
}

@font-face {
  font-family: "Campton";
  src: local("Campton"),
    url(./assets/fonts/campton/Campton-Light.otf) format("opentype");
}

@font-face {
  font-family: "CamptonBold";
  src: local("CamptonBold"),
    url(./assets/fonts/campton/Campton-Bold.otf) format("opentype");
}

* {
  font-family: "Campton", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  list-style-type: none;
}

small {
  color: #bdbdbd;
  font: normal 600 10px/12px "Montserrat", san-serif;
  display: block;
}
